@charset "utf-8";
/* CSS Document */
<style>

h3.w3l-titlesec:before 
{
    /* left: 36%; */
}

h3.w3l-titlesec:after 
{
    right: 21%;
    top: 106%;
}

.pdlf
{
	padding-left: 169px;
}

.pd
{
	padding-top: 52px;
}

.mrg
{
	margin-left: 20px;
	margin-right: 20px;
}

.clrr
{
	color: #009688 !important;
}

/* EMPLOYEE SECURITY HEADER  */

h3.w3l-titlesz {
    font-size: 3.8em;
    text-align: center;
    margin-bottom: 1.3em;
    position: relative;
    font-style: italic;
}
h3.w3l-titlesz:before, h3.w3l-titlesz:after {
    content: " ";
    background: #fa6839;
    position: absolute;
    width: 8%;
    height: 2px;
}

h3.w3l-titlesz:before {
    left: 26%;
}
h3.w3l-titlesz:after {
    right: 26%;
    top: 106%;
}

/* VAHICLE SECURITY HEADER  */

h3.w3l-titlesv {
    font-size: 3.8em;
    text-align: center;
    margin-bottom: 1.3em;
    position: relative;
    font-style: italic;
}
h3.w3l-titlesv:before, h3.w3l-titlesv:after {
    content: " ";
    background: #fa6839;
    position: absolute;
    width: 8%;
    height: 2px;
}

h3.w3l-titlesv:before {
    left: 24%;
}
h3.w3l-titlesv:after {
    right: 24%;
    top: 106%;
}

/* SCHOOL SECURITY HEADER  */

h3.w3l-titlesh {
    font-size: 3.8em;
    text-align: center;
    margin-bottom: 1.3em;
    position: relative;
    font-style: italic;
}
h3.w3l-titlesh:before, h3.w3l-titlesh:after {
    content: " ";
    background: #fa6839;
    position: absolute;
    width: 8%;
    height: 2px;
}

h3.w3l-titlesh:before {
    left: 28%;
}
h3.w3l-titlesh:after {
    right: 28%;
    top: 106%;
}

.ps
{
	opacity: 0.5;
}

</style>